/* start reduce header */
@keyframes reduceHead{
	from{
		height:100%;
	} to{
		height:80px;
	}
}
@keyframes reduceFont{
	from{
		font-size:80px;
	} to{
		font-size:20px;
	}
}
.reduceHead{
	height:80px;
	animation: reduceHead 1s ease-out 1;
}
.reduceHead form{
	top:auto;
	bottom:0;
}
.reduceHead h1{
	float:left;
	font-size:20px;
	animation: reduceFont 1s ease-out 1;
}
/* end reduce header */

/* start show header */
@keyframes showHead{
	from{
		height:80px;
	} to{
		height:100%;
	}
}
@keyframes originalFont{
	from{
		font-size:20px;
	} to{
		font-size:80px;
	}
}
.showHead{
	height:100%;
	animation: showHead 1s ease-out 1;
}
.showHead h1{
	float:none;
	font-size:80px;
	animation: originalFont 1s ease-out 1;
}
/* end show header */