.card.ng-enter-stagger, .card.ng-leave-stagger {
	transition-delay: 0.2s;
	animation-delay: 0.2s;
}
.card.ng-move, .card.ng-enter, .card.ng-leave {
	-webkit-transition:all ease-out 0.5s;
	transition:all ease-out 0.5s;
}
 
.card.ng-leave.card.ng-leave-active, .card.ng-move,
.card.ng-enter {
	opacity:0;
	margin-left:25px;
	margin-top:25px;
}
 
.card.ng-leave, .card.ng-move.card.ng-move-active,
.card.ng-enter.card.ng-enter-active {
	opacity:1;
	margin-left:5px;
	margin-top:5px;
}