@media (max-width:580px){
	/* start reduce header */
	@keyframes reduceFont{
		from{
			font-size:80px;
		} to{
			font-size:20px;
		}
	}
	@keyframes RSPreduceSearch{
		from{
			font-size:30px;
			width:80%;
		} to{
			font-size:15px;
			width:85%;
		}
	}
	.reduceHead .search{
		font-size: 15px;
		width:85%;
		animation: RSPreduceSearch 1s ease-out 1;
	}
	/* end reduce header */
}