/* start body */
html, body{
	padding:0;
	margin:0;
	height:100%;
}
*{
	font-family: Sans-serif;
}
/* end body */

/* start header */
header{
	background:url(../img/screen.png), url(../img/header-bg.gif) gray center bottom;
	background-size:auto, cover;
	overflow:hidden;
	color:#fff;
	height:100%;
	text-align:center;
}
header h1{
	font-weight:normal;
	font-size:80px;
}
.search{
	background:none;
	border:0;
	border-bottom:2px solid #fff;
	color:#fff;
	outline: 0;
	font-size: 30px;
	padding: 5px 0;
	width: 400px;
}
.search-btn{
	background:url(../img/search-icon.png) no-repeat;
	background-size:100%;
	text-indent: -9999px;
	width:35px;
	height:35px;
	border:0;
	outline: 0;
	cursor:pointer;
}
/* end header */